@import "colors.scss";
*{
    margin: 0;
    padding: 0;
    font-family: "Nunito Sans", sans-serif;
    font-optical-sizing: auto;
    font-weight: 400;
    font-style: normal;
    font-variation-settings:
      "wdth" 100,
      "YTLC" 500;
    background-color: var(--black-color);
    color: var(--white-color);
}

/*~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~ Header ~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~*/
.header{
    min-height: 100vh;
    width: 100%;
    background-position: center;
    background-size: cover;
    position: relative;
    text-decoration: none;
}

.header::before {
    content: '';
    position: absolute;
    top: 0 ;
    left: 0;
    width: 100%;
    height: 100%;
    /* background: rgba(0, 0, 0, 0.5); */
    /* z-index: 1; */
}

/*~~~~~~~~~~ Navigation Bar ~~~~~~~~~~*/
.header nav {
    position: relative;
    z-index: 2;
}

nav {
    display: flex;
    padding: 0% 2%;
    padding-top: 0%;
    justify-content: space-between;
    align-items: flex-start;
    font-size: 24px;
}

.nav-links ul {
    list-style: none;
    display: flex;
}

.nav-links ul li {
    list-style: none;
    display: inline-block;
    padding: 2rem 2.5rem;
    position: relative;
}

.nav-links ul li a {
    text-decoration: none;
    color: var(--white-color);
}

.nav-links ul li a:hover {
    color: var(--secondary-color);
}

.nav-links ul li a::after {
    content: '';
    width: 0%;
    height: 2px;
    background: var(--secondary-color);
    display: block;
    margin: auto;
    transition: 0.5s;
}

.nav-links ul li a:hover::after {
    width: 100%;
}

/*~~~~~~~~~~ Text Box ~~~~~~~~~~*/
.header .text-box {
    position: relative;
    z-index: 2;
    width: 100%;
    color: var(--white-color);
    text-align: center;
    font-size: 2rem;
    padding-top: 4rem;
}

.text-box h1 {
    font-size: 5rem;
    font-weight: 700;
    line-height: 1.2;
}

.header .text-box p{
    margin-bottom: 1rem;
}

/*~~~~~~~~~~ Visit Us Button ~~~~~~~~~~*/

/* From Uiverse.io by satyamchaudharydev */ 
/* === removing default button style ===*/
.header .button {
    margin: 0;
    height: auto;
    background: transparent;
    padding: 0;
    border: none;
    cursor: pointer;
}
  
  /* button styling */
.header .button {
    --border-right: 6px;
    --text-stroke-color: rgba(255,255,255,0.6);
    --animation-color: var(--secondary-color);
    --fs-size: 1.5rem;
    letter-spacing: 3px;
    text-decoration: none;
    font-size: var(--fs-size);
    font-family: "Arial";
    position: relative;
    text-transform: uppercase;
    color: transparent;
    -webkit-text-stroke: 1px var(--text-stroke-color);
}
  /* this is the text, when you hover on button */
.header .hover-text {
    position: absolute;
    box-sizing: border-box;
    content: attr(data-text);
    color: var(--secondary-color);
    width: 0%;
    inset: 0;
    border-right: var(--border-right) solid var(--secondary-color);
    overflow: hidden;
    transition: 0.5s;
    -webkit-text-stroke: 1px var(--secondary-color);
}
  /* hover */
.header .button:hover .hover-text {
    width: 100%;
}

/*~~~~~~~~~~ Banner ~~~~~~~~~~*/
.header .banner {
    position: relative;
    padding-top: 5rem;
    display: flex;
    justify-content: center;
    align-items: center;
}

.header .banner img {
    width: 100%;
    height: 100%;
    object-fit: cover;
    border-radius: 25px;
}

/*~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~ Services ~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~*/
.services{
    width: 80%;
    margin: auto;
    text-align: center;
    padding-top: 3.5rem;
}
.services h1 {
    font-size: 3rem;
    font-weight: 700;
}

.services p {
    color: var(--secondary-color);
    font-size: 1.5rem;
}

/* From Uiverse.io by kamehame-ha */
.cards {
    display: flex;
    flex-direction: column;
    gap: 15px;
}
    
.cards .card:hover {
    transform: scale(1.1, 1.1);
}
  
.cards:hover > .card:not(:hover) {
    filter: blur(10px);
    transform: scale(0.9, 0.9);
}

/* From Uiverse.io by ElSombrero2 */ 
.card {
    overflow: visible;
    width: 100%;
    height: 254px;
    margin-top: 2rem;
}
  
.content {
    width: 100%;
    height: 100%;
    transform-style: preserve-3d;
    transition: transform 900ms;
    box-shadow: 0px 0px 10px 1px #000000ee;
    border-radius: 5px;
}
  
.front, .back {
    background-color: #151515;
    position: absolute;
    width: 100%;
    height: 100%;
    backface-visibility: hidden;
    -webkit-backface-visibility: hidden;
    border-radius: 5px;
    overflow: hidden;
}
  
.back {
    width: 100%;
    height: 100%;
    justify-content: center;
    display: flex;
    align-items: center;
    overflow: hidden;
}
  
.back::before {
    position: absolute;
    content: ' ';
    display: block;
    width: 100%;
    height: 160%;
    background: linear-gradient(90deg, transparent, var(--secondary-color), rgba(23,172,231,1), rgba(63,179,255,1), transparent);
    animation: rotation_481 9000ms infinite linear;
}
  
.back-content {
    position: absolute;
    width: 99%;
    height: 99%;
    background-color: #151515;
    border-radius: 5px;
    color: white;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 30px;
}
 
.back-content strong {
    font-size: 2rem;
    background-color: #151515;
}

.card:hover .content {
    transform: rotateY(180deg);
}
  
@keyframes rotation_481 {
    0% {
      transform: rotateZ(0deg);
    }
  
    0% {
      transform: rotateZ(360deg);
    }
}
  
.front {
    transform: rotateY(180deg);
    color: white;
    border: var(--secondary-color) 1px solid;
    border-radius: 5px;
}
  
.front .front-content {
    position: absolute;
    width: 98%;
    height: 100%;
    padding: 10px;
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
    align-items: center;
}
  
.front-content .badge {
    background-color: #00000055;
    padding: 2px 10px;
    border-radius: 10px;
    backdrop-filter: blur(2px);
    width: fit-content;
}

.front-content img {
    width: auto;
    height: 100%;
    margin-right: 1rem;
}

.title {
    font-size: 11px;
    max-width: 100%;
    display: flex;
    justify-content: space-between;
}
  
.title p {
    width: 50%;
}
  
.card-footer {
    color: #ffffff88;
    margin-top: 5px;
    font-size: 8px;
}
  
.front .img {
    position: absolute;
    width: 100%;
    height: 100%;
    object-fit: cover;
    object-position: center;
}
  
.circle {
    width: 90px;
    height: 90px;
    border-radius: 50%;
    background-color: var(--secondary-color);
    position: relative;
    filter: blur(15px);
    animation: floating 2600ms infinite linear;
}
  
#bottom {
    background-color: var(--secondary-color);
    left: 50px;
    top: 0px;
    width: 150px;
    height: 150px;
    animation-delay: -800ms;
}
  
#right {
    background-color: var(--secondary-color);
    left: 160px;
    top: -80px;
    width: 90px;
    height: 30px;
    animation-delay: -1800ms;
}
  
@keyframes floating {
    0% {
      transform: translateY(0px);
    }
  
    50% {
      transform: translateY(10px);
    }
  
    100% {
      transform: translateY(0px);
    }
}

/*~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~ Mechanics ~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~*/
.mechanics{
    width: 50%;
    margin: auto;
    text-align: center;
}
.mechanics h1 {
    font-size: 3rem;
    font-weight: 700;
    padding-top: 3.5rem;
    padding-bottom: 2rem;
}

.mechanics p {
    color: var(--secondary-color);
    font-size: 1.2rem;
    padding-bottom: 10px;
}

.gallery {
  position: relative;
  width: 100%;
  overflow: hidden;
}
/* Slide styling */
.slide {
  display: none;
  position: relative;
}
.slide.active {
  display: block;
}
.slide img {
  width: 100%;
  display: block;
  height: 40rem;
  border-radius: 5px;
}
/* Description overlay */
.description {
  position: relative;
  background: rgba(0, 0, 0, 0.5);
  color: var(--white-color);
  padding-top: 10px;
  font-size: 2.5rem;
}
/* Arrow buttons styling */
.arrow {
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
  background: rgba(0, 0, 0, 0.5);
  border: none;
  width: 40px;
  height: 40px;
  border-radius: 50%;
  cursor: pointer;
  outline: none;
  display: flex;
  align-items: center;
  justify-content: center;
  transition: background 0.3s, transform 0.3s;
  color: var(--white-color);
  font-size: 24px;
}
.arrow:hover {
  background: rgba(0, 0, 0, 0.8);
  transform: translateY(-50%) scale(1.1);
}
.arrow.left {
  left: 10px;
}
.arrow.right {
  right: 10px;
}