/*~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~ Header ~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~*/
.about-header .text-about h1{
    padding: 5rem 0 5rem 12rem;
    text-align: start;
    text-decoration: underline var(--secondary-color);
}

/*~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~ History ~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~*/
.history{
    width: 100%;
    padding-top: 2rem;
    padding-bottom: 2rem;
    display: flex;
    background-color: var(--white-color);
}

.history img{
    width: 30%;
    min-height: 17rem;
    margin-left: 5%;
    border: 5px solid var(--secondary-color);
    border-radius: 10px;
}

/*~~~~~~~~~~ History Text ~~~~~~~~~~*/
.history-text{
    width: 50%;
    height: 100%;
    padding-left: 5rem;
    text-align: center;
    background-color: var(--white-color);
}

.history-text h2{
    font-size: 3rem;
    padding-bottom: 1rem;
    color: var(--secondary-color);
    background-color: var(--white-color);
}

.history-text p{
    font-size: 1.2rem;
    color: var(--black-color);
    background-color: var(--white-color);
}

/*~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~ Information ~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~*/
.about-information {
    width: 100%;
    display: flex;
    justify-content: center;
}

/*~~~~~~~~~~ Single Column ~~~~~~~~~~*/
.info-column {
    width: 15%;
    padding: 0.5rem 1rem 0.5rem 1rem;
    display: flex;
    flex-direction: column;
    align-items: center;
    border-right: 1px solid var(--secondary-color);
}

.info-column h3 {
    font-size: 1.7rem;
    color: var(--secondary-color);
}

/*~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~ Services ~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~*/
.about-services {
    width: 100%;
    background: var(--white-color);
    display: flex;
    padding-left: 10%;
    padding-top: 5rem;
}

/*~~~~~~~~~~ Buttons ~~~~~~~~~~*/
.about-services .buttons {
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: center;
    background: var(--white-color);
    width: 25%;
}

/*~~~~~~~~~~ Single Button ~~~~~~~~~~*/
.about-services button {
    margin: 2rem 0 2rem 0;
    border: 2px solid var(--black-color);
    border-radius: 5px;
    background-color: var(--white-color);
    color: var(--black-color);
    cursor: pointer;
    font-size: 1.2rem;
    height: 4rem;
    width: 80%;
}

.about-services button:hover {
    background-color: var(--black-color);
    color: var(--white-color);
}

.about-services button.active {
    background-color: var(--secondary-color);
    color: var(--white-color);
}

.about-services .service-content {
    width: 50%;
    margin-left: 5%;
}

/*~~~~~~~~~~ Service Content ~~~~~~~~~~*/
.service-content {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding-top: 3rem;
    background-color: var(--white-color);
    border: 3px solid var(--black-color);
    border-radius: 10px;
}

.service-content h2 {
    font-size: 2rem;
    background-color: var(--white-color);
    color: var(--black-color);
    text-decoration: solid var(--secondary-color) underline;
    padding: 0 2rem 3rem 2rem;
}

.service-content p {
    font-size: 1.2rem;
    color: var(--black-color);
    background-color: var(--white-color);
    padding: 0 3rem 3rem 3rem;
}
